{
  "printWidth": 120,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "prettier/prettier": [
    "error",
    {},
    {
      "fileInfoOptions": {
        "withNodeModules": true
      }
    }
  ]
}
